* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  font-family: "Spline Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #ff6b6b, #f06595);
}
.heading {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 400;
}

.register,
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 40%;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  gap: 1.8rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}

select,
input {
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
}

button {
  padding: 0.4rem 1rem;
  margin-left: 0.4rem;
  border: 1px solid black;
  font-size: 0.9rem;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .anim {
  content: "";
  padding: 1.4px;
  background-color: red;

  animation-name: underline;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-duration: 2s;
} */

/* @keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
} */
